TELEGRAM_BOT_TOKEN="SUSTITUYE POR EL TUYO"
TELEGRAM_ALLOWED_USER_IDS="SUSTITUYE POR EL TUYO"
GROQ_API_KEY="SUSTITUYE POR EL TUYO"
OPENROUTER_API_KEY="SUSTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"
